# Prerequisites
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
build/
cmake-build-*/
out/
.vscode/
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
.test_write
*.tmp
*~
